*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    box-sizing: border-box;
}
.wrap{
    margin: 0 auto;
    max-width: 1000px;
}
header{
  
    padding: 20px;  
    height: 100px;
    background-color:rgba(64, 63, 60, 0.5);
}

.menu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    margin-top: 20px;
    
}
.container{
    display: flex;
    justify-content: space-between;
}
.menu ul li a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #b8b8b8;
}
.menu ul li a:hover{
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
    padding-bottom: 35px;
}
.menu ul li .aHome{
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
    padding-bottom: 35px;
}

.home{
height: 600px;
background-image: url(../images/slider1.jpg);
background-size: cover;

}
.allParas{
    text-align: center;
    padding-top: 80px;
    line-height: 70px;
    color: #ffffff;
}
.para1{
    font-size: 35px;
    font-weight: bold

}
.para2{
    font-size: 79px;
    font-weight: bold;
}
.para3{
    font-size: 34px;
}
.buttons{
 display: flex;
 place-content: center;
 margin-top: 50px;
    
}
.btn1{
    width: 165px;
    height: 60px;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    margin-right: 10px;

}
.btn1 .btnDiv1{
    width: 165px;
height: 55px;
border-radius: 4px;
background-color: #18cfab;
font-size: 13px;
line-height: 32px;
text-align: center;
color: #ffffff;
font-weight: 700;
margin-top: 4px;
padding-top: 10px;

}
.btn2{
    width: 165px;
    height: 60px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
margin-left: 10px;
}
.btn2 .btnDiv2{
    width: 165px;
height: 55px;
border-radius: 4px;
background-color: #01ccf7;
font-size: 13px;
line-height: 32px;
text-align: center;
color: #ffffff;
font-weight: 700;
margin-top: 4px;
padding-top: 10px;

}
.options{
height: 375px;
width: 100%;
display: flex;
text-align: center;
}
.options svg{
    margin-top: 80px;
}
.options img{
    margin-top: 80px;
}

.card1{
width: 25%;
height: 80%;
background-color: #1c2a33;
}
.card2{
    width: 25%;
    height: 80%;
    background-color: #18cfab;
}
.card3{
    width: 25%;
    height: 80%;
    background-color: #1c2a33;  
}
.card4{
    width: 25%;
    height: 80%;
    background-color: #18cfab;
}
.smallCard1{
    width:100%;
height: 7px;
background-color: #18cfab;
}
.smallCard2{
    width: 100%;
height: 7px;
background-color: #ffff;
}
.smallCard3{
    width: 100%;
height: 7px;
background-color: #18cfab;
}
.smallCard4{
    width: 100%;
height: 7px;
background-color: #ffff;
}
.card1 p a {
    font-size: 20px;
color: #18cfab;
font-weight: 700;
font-family: "Montserrat";

}
.card2 p a {
    font-size: 20px;
color: #ffff;
font-weight: 700;
font-family: "Montserrat";
}
.card3 p a {
    font-size: 20px;
color: #18cfab;
font-weight: 700;
font-family: "Montserrat";
}
.card4 p a {
    font-size: 20px;
color: #ffff;
font-weight: 700;
font-family: "Montserrat";
}
.card1 p{
    margin-top: 40px;
}
.card2 p{
    margin-top: 60px;
}
.card3 p{
    margin-top: 40px;
}
.card4 p{
    margin-top: 60px;
}
.features{
    height: 800px;
}
.features h2{
    font-size: 36px;
line-height: 40px;
color: #4e4e4e;
font-weight: 400;

text-align: center;
}
.feature1{
    width: 31%;
    height: 160px;

}
.feature2{
    width: 31%;
    height: 160px;
    margin-left: 33px;
}
.feature3{
    width: 31%;
    height: 160px;
    margin-left: 33px;
}
.feature4{
    width: 31%;
    height: 160px;
    margin-top: 33px;
}
.feature5{
    width: 31%;
    height: 160px;
    margin-left: 33px;
    margin-top: 33px;
}
.feature6{
    width: 31%;
    height: 160px;
    margin-left: 33px;
    margin-top: 33px;
}
.feature7{
    width: 31%;
    height: 160px;
    margin-top: 33px;
}
.feature8{
    width: 31%;
    height: 160px;
    margin-left: 33px;
    margin-top: 33px;
}
.feature9{
    width: 31%;
    height: 160px;
    margin-left: 33px;
    margin-top: 33px;
}
.amazeFeatures{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}
.imgP{
    float: left;
    overflow: hidden;
}
.amazeFeatures .imgP .imgPsvg{
    float: left;
    width: 24px;
 height: 34px;
}
.imgP p{
    float: right;
    margin-left: 30px;
    font-size: 18px;
line-height: 40px;
color: #717171;
font-weight: 700;


}
.imgP .active{
    color: #18cfab;
}
.modules{
    margin-top: 50px;
    text-align: left;
    width: 300px;
height: 77px;
font-size: 14px;
line-height: 25px;
color: #777777;
font-weight: 300;

}
.about{
    height: 600px;
    background-image: url(../images/aboutcompnay-bg.jpg);
    background-size: cover;
    
}
.ourCompany{
    display: flex;
    justify-content: space-between;
    
}
.about .tabImage img{
    width: 600px;
    margin-top: 270px;
}
.progressBar{
    margin-top: 100px;
                                    
}
.progressBar h2{
    font-size: 36px;
line-height: 40px;
color: #ffffff;
font-weight: 400;   
margin-left: 20px;
}
.progressBar ul{
    display: flex;
    margin-top: 60px;
    text-align: left;
}
.progressBar ul li{
    list-style: none;
    margin-left: 25px;
}
.progressBar ul li a{
text-decoration: none;
font-size: 16px;
line-height: 42px;
color: #f5f5f5;
font-weight: 700;


}
.progressBar ul li a:hover{
    color: #18cfab;
    border-top: 1px solid #18cfab;
}
/* .progressBar ul li:last-child{
    color: #18cfab;
} */
.about .progressBar .progress #prog1{
    width: 556px;
height: 39px;
border-radius: 4px;
margin-bottom: 10px;
border: 1px solid #959595;
}
.about .progressBar .progress #prog1 .pr1{
    width: 400px;
    height: 37px;
    background-color: #9b5ea4;   
    text-align: left; 
    font-size: 13px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px;
}
.about .progressBar .progress #prog2{
    width: 556px;
height: 39px;
border-radius: 4px;
margin-bottom: 10px;

border: 1px solid #959595;
}
.about .progressBar .progress #prog2 .pr2{
    width: 480px;
    height: 37px;
    background-color: #12b0df;   
    text-align: left; 
    font-size: 13px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    padding: 5px;
    border-radius: 4px;
}
.about .progressBar .progress #prog3{
    width: 556px;
height: 39px;
border-radius: 4px;
margin-bottom: 10px;

border: 1px solid #959595;
}
.about .progressBar .progress #prog3 .pr3{
    width: 350px;
    height: 37px;
    background-color: #d77f7e;   
    text-align: left; 
    font-size: 13px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    padding: 5px;
    border-radius: 4px;
}
.about .progressBar .progress #prog4{
    width: 556px;
height: 39px;
border-radius: 4px;
margin-bottom: 10px;

border: 1px solid #959595;
}
.about .progressBar .progress #prog4 .pr4{
    width: 530px;
    height: 37px;
    background-color: #21bc9d;   
    text-align: left; 
    font-size: 13px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    padding: 5px;
    border-radius: 4px;
}
.about .progressBar .progress #prog5{
    width: 556px;
height: 39px;
border-radius: 4px;
margin-bottom: 10px;

border: 1px solid #959595;
}
.about .progressBar .progress #prog5 .pr5{
    width: 430px;
    height: 37px;
    border-radius: 4px;
    background-color: #bc8936;   
    text-align: left; 
    font-size: 13px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    padding: 5px;
}
.progressBar .progress{
    margin-top: 30px;
    padding: 0 20px;
}

.progressBar .ourSkills{
    border-top: 2px solid #16cfa2;
    color: #16cfa2;
    
}
.about .ourCompany .progressBar .hr1{
width: 80px;
height: 2px;
background-color: #18cfab;
margin-top: 30px;
margin-left: 140px;
}
.about .ourCompany .progressBar .hr2{
    width: 80px;
height: 2px;
background-color: #18cfab;
margin-top: 2px;
margin-left: 170px;
}
.features .hr1{
    width: 80px;
height: 2px;
background-color: #18cfab;
margin-top: 30px;
margin-left: 450px;
}
.features .hr2{
    width: 80px;
    height: 2px;
    background-color: #18cfab;
    margin-top: 2px;
    margin-left: 480px;
}
.amazingWork{
    background-color: #f8fcff;
    height: 1050px;
}
.amazingWork h2{
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
}
.amazingWork .hr1{
    width: 80px;
    height: 2px;
    background-color: #18cfab;
    margin-top: 30px;
    margin-left: 450px;
}
.amazingWork .hr2{
    width: 80px;
    height: 2px;
    background-color: #18cfab;
    margin-top: 2px;
    margin-left: 480px;
}
.works{
    margin-top: 40px;
}
.works ul{
    display: flex;
    justify-content: center;
}
.works ul li{
    list-style: none;
    padding: 10px 30px;
background-color: #ffffff;
border: 1px solid #ebebeb;
text-align: center;
}
.works ul li a{
    text-decoration: none;
    font-size: 14px;
line-height: 42px;
color: #717171;
font-weight: 400;

}
.amazingWork .works ul li .all{
    
    color: #18cfab;
}
.amazingWork .works ul .liAll{
    border-top: 1px solid #18cfab;   
}
.amazingWork .works ul li a:hover{
    color: #18cfab;
}

.amazingWork .workImages{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}


.work1{
    width: 25%;
    height: 208px;
    border-top: 1px solid #18cfab;
}
.work2{
    width: 25%;
    height: 208px;
    background-image: url(../images/news/img-1.jpg);
    background-size: cover;
}
.work3{
    width: 25%;
    height: 208px;
    background-image: url(../images/news/img-2.jpg);
    background-size: cover;
}
.work4{
    width: 25%;
    height: 208px;
    background-image: url(../images/serviecs/tab1.jpg);
    background-size: cover;
}
.work5{
    width: 25%;
    height: 208px;
    background-image: url(../images/serviecs/tab2.jpg);
    background-size: cover;
}
.work6{
    width: 25%;
    height: 208px;
    background-image: url(../images/news/img-1.jpg);
    background-size: cover;
}
.work7{
    width: 25%;
    height: 208px;
    background-image: url(../images/news/img-2.jpg);
    background-size: cover;
}
.work8{
    width: 25%;
    height: 208px;
    background-image: url(../images/serviecs/tab1.jpg);
    background-size: cover;
}
.work9{
    width: 25%;
    height: 208px;
    background-image: url(../images/serviecs/tab2.jpg);
    background-size: cover;
}
.work10{
    width: 25%;
    height: 208px;
    background-image: url(../images/news/img-1.jpg);
    background-size: cover;
}
.work11{
    width: 25%;
    height: 208px;
    background-image: url(../images/news/img-2.jpg);
    background-size: cover;
}
.work12{
    width: 25%;
    height: 208px;
    background-image: url(../images/serviecs/tab1.jpg);
    background-size: cover;
}
.workImages .workIcons{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.workIcons .icon1{
    width: 41px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #18cfab;
    padding: 10px;
}
.workIcons .icon2{
    margin-left: 5px;
    width: 41px;
height: 40px;
border-radius: 20px;
background-color: #18cfab;
padding: 10px;
}
 .workBtn{
    font-size: 18px;
line-height: 42px;
color: #ffffff;
font-weight: 700;
width: 165px;
height: 60px;
border-radius: 4px;
background-color: #18cfab;
margin-left: 400px;
margin-top: 40px;
border: none;
}
.workBtn .plus{
    margin-right:  10px;
}
.creativeDesign{
    font-size: 14px;
line-height: 25px;
color: #18cfab;
font-weight: 700;
text-align: center;
margin-top: 20px;
}
.webDesign{
    font-size: 12px;
line-height: 25px;
color: #8a8a8a;
font-weight: 300;
text-align: center;
margin-top: 20px;
}